[Desktop Entry]
Encoding=UTF-8
Name=MarMoCoin
Comment=MarMoCoin P2P Cryptocurrency
Comment[fr]=MarMoCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MarMoCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/MarMoCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/MarMoCoin;
Categories=Office;
